body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    padding: 20px;
}

p {
    color: #555;
    font-size: 18px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

button:hover {
    background-color: #555;
}

a {
    color: #007BFF; /* Blue color for the link */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline; /* Underline on hover */
}
